* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  background-color: #542D5A
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#info {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
  color: white;
}